@page
@model RosaMaríaBookstore.Pages.Recover.ChangePasswordModel;
@using RosaMaríaBookstore.Models;
@{
    Layout="_Login";
    ViewData["Title"] = "Cambiar contraseña";
}
@{
    Usuario user = Model.UserInformation;
    String image = "/images/users/";
    if (user.Idimagen > 0 && user.IdimagenNavigation != null)
    {
        image += user.IdimagenNavigation.Nombre;
    }
    else
    {
        image = "/images/not-user.png";
    }
}

<!-- User pic with title-->
<div class="text-center w-75 m-auto">
    <img src="@image" height="64" alt="user-image" class="rounded-circle shadow">
    <h4 class="text-dark-50 text-center mt-3 font-weight-bold">Hola ! @user.IdempleadoNavigation.IdpersonaNavigation.Nombre </h4>
    <p class="text-muted mb-4">Ingresa tu nueva contraseña</p>
</div>

<!-- form -->
<form id="fromChangePassword" name="fromChangePassword" method="POST" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if(Model.Message!=null && Model.Message!="") {
        <div class="form-group font-weight-bold text-danger">
            @Model.Message
        </div>
    }
    <div class="form-group mb-3">
        <label asp-for="Password">Nueva contraseña</label>
        <input class="form-control" type="password" asp-for="Password" placeholder="Ingresa tu nueva contraseña">
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>
    <div class="form-group mb-0 text-center">
        <button class="btn btn-primary btn-block" type="submit"><i class="mdi mdi-lock-reset"></i> Cambiar contraseña
        </button>
    </div>

</form>
<!-- end form-->

<!-- Footer-->
<footer class="footer footer-alt">
    <p class="text-muted">Volver a <a asp-area="" asp-page="/Login/Login" class="text-muted ml-1"><b>Inicio de sesión</b></a></p>
</footer>

@section Scripts{
<script src="~/assets/js/pages/demo.toastr.js"></script>
}