@page
@model RosaMaríaBookstore.Pages.Recover.RecoverpasswordModel;
@using RosaMaríaBookstore.Models;
@{
Layout="_Login";
ViewData["Title"] = "Recuperar contraseña";
}

<!-- title-->
<h4 class="mt-0">Recuperar contraseña</h4>
<p class="text-muted mb-4">Ingresa tu correo electrónico, para poder enviar un código de verificación para la recuperación de tu cuenta.</p>

<!-- form -->
<form id="fromRecover" name="fromRecover" method="POST" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if(Model.Message!=null && Model.Message!="") {
        <div class="form-group font-weight-bold text-danger">
            @Model.Message
        </div>
    }
    <div class="form-group mb-3">
        <label asp-for="Email" for="emailaddress">Correo</label>
        <input class="form-control" type="email" asp-for="Email" placeholder="Ingresa tu correo">
    </div>
    <span asp-validation-for="Email" class="text-danger"></span>
    <div class="form-group mb-0 text-center">
        <button class="btn btn-primary btn-block" type="submit"><i class="mdi mdi-lock-reset"></i> Recuperar contraseña
        </button>
    </div>

</form>
<!-- end form-->

<!-- Footer-->
<footer class="footer footer-alt">
    <p class="text-muted">Volver a <a asp-area="" asp-page="/Login/Login" class="text-muted ml-1"><b>Inicio de sesión</b></a></p>
</footer>

@section Scripts{
<script src="~/assets/js/pages/demo.toastr.js"></script>
}