@page
@model RosaMaríaBookstore.Pages.Providers.ProvidersModel;
@using RosaMaríaBookstore.Models;
@{ ViewData["Title"] = "Librería | Proveedores"; }

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Librería</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Página</a></li>
                    <li class="breadcrumb-item active">Proveedores</li>
                </ol>
            </div>
            <h4 class="page-title">Proveedores</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 pb-2">
                        <button type="button" class="btn btn-success font-weight-bold btn-rounded" id="btn-addprovider"><i
                                class="mdi mdi-plus"></i> Nuevo proveedor</button>
                    </div>
                    <h4 class="header-title col-md-12 mt-2 mb-3">Listado de proveedores</h4>
                    @*filter*@
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-md-2 pt-1"><strong>Ver</strong></div>
                            <div class="col-md-4">
                                <select id="showQuantity" class="form-control">
                                    <option value="6" selected>6</option>
                                    <option value="12">12</option>
                                    <option value="18">18</option>
                                    <option value="24">24</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <div class="col-md-6 pt-1"><strong>registros</strong></div>
                        </div>
                    </div>
                    <div class="col-lg-5"></div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-md-2 pt-1"><strong>Búscar:</strong></div>
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span class="uil-search"></span>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="searchData">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*end filter*@
                    <div class="py-2 col-lg-12">
                        <div class="row px-2">
                            <div class="table-responsive" id="providersId-list">
                                <!-- home clients list -->
                                <table id="scroll-horizontal-datatable-1" class="table table-centered w-100 nowrap">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Dui</th>
                                            <th>Proveedor</th>
                                            <th>Dirección</th>
                                            <th>Telefonos</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="provi-body">
                                    </tbody>
                                </table>
                                <!-- end clients list-->
                            </div>
                        </div><!-- end row-->
                    </div><!-- end col-->
                </div><!-- end row-->
            </div><!-- end car-body-->

            <div class="card-footer">
                <div class="row" id="create-pagination">
                    
                </div><!-- end row-->
            </div><!-- end car-footer-->
        </div><!-- end card-->
    </div><!-- end col-->
</div><!-- end row-->

<!--  Modal content for providers-->
<div class="modal fade" id="modal-provider" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-dark">
                <h4 class="modal-title" id="tittle-modal">Nuevo Proveedor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form id="formProvider" name="formProvider" method="POST" autocomplete="off">
                <div class="modal-body" id="data-body">
                    <!-- form elements -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light font-weight-bold btn-rounded" id="btn-cancel"><i
                            class="mdi mdi-close"></i> Cancelar</button>
                    <button type="submit" class="btn btn-dark font-weight-bold btn-rounded" id="btn-action"><i
                            class="mdi mdi-content-save"></i> Guardar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--  Modal content for phone's -->
<div class="modal fade" id="modal-phone" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-dark">
                <h4 class="modal-title" id="phone-title">Números de teléfono de contacto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="py-3 px-3">
                <form id="formPhone" name="formPhone" method="POST" autocomplete="off"
                    class="border border-secondary-100 rounded px-2 py-2">
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="Phone.Telefono1" class="font-weight-bold">Teléfono<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="uil-phone-pause"></span>
                                    </div>
                                </div>
                                <input type="text" asp-for="Phone.Telefono1" class="form-control" placeholder="0000-0000" data-toggle="input-mask" data-mask-format="0000-0000">
                            </div>
                            <span asp-validation-for="Phone.Telefono1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer new-footer">
                        <button type="button" class="btn btn-light font-weight-bold btn-rounded" id="btn-cancelphone"><i
                                class="mdi mdi-close"></i> Cancelar</button>
                        <button type="submit" class="btn btn-dark font-weight-bold btn-rounded" id="btn-phone"><i
                                class="mdi mdi-content-save"></i> Guardar</button>
                    </div>
                </form>
                <div class="border border-secondary-100 rounded px-2 mt-3">
                    <div class="modal-body">
                        <label for="" class="font-weight-bold">Listado de teléfonos</label>
                        <div class="row">
                            @*filter*@
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-md-3 pt-1"><strong>Ver</strong></div>
                                    <div class="col-md-6">
                                        <select id="show-phone-quantity" class="form-control">
                                            <option value="3" selected>3</option>
                                            <option value="6">6</option>
                                            <option value="12">12</option>
                                            <option value="18">18</option>
                                            <option value="24">24</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 pt-1"><strong>registros</strong></div>
                                </div>
                            </div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <div class="col-md-3 pt-1"><strong>Teléfono:</strong></div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <span class="uil-search"></span>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control" id="phone-searchdata" data-toggle="input-mask" data-mask-format="0000-0000">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*end filter*@
                            <div class="table-responsive col-lg-12">
                                <table class="table table-borderless table-centered mb-0">
                                    <thead class="alert-info">
                                        <tr>
                                            <th>#</th>
                                            <th>Teléfono</th>
                                            <th>Activo</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="phone-data"></tbody>
                                </table>
                            </div> <!-- end table-responsive-->
                        </div>
                        <div class="row" id="phone-pagination">
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Alert Modal -->
<div id="modalDeleteProvider" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-trash h1 text-danger"></i>
                    <h4 class="mt-2" id="mtitle">Eliminar proveedor</h4>
                    <p class="mt-3" id="mtitle-delete">El registro se eliminará de manera permanente. ¿Estás seguro?</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger my-2" id="mbtn-delete" data-dismiss="modal">Sí, eliminar</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
<script src="~/assets/js/pages/demo.toastr.js"></script>
<script src="~/js/provider/provider.js"></script>
}