@page
@model RosaMaríaBookstore.Pages.Shoppings.ShoppingsListModel;
@using RosaMaríaBookstore.Models;
@{ ViewData["Title"] = "Librería | Lista Compras"; }

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Librería</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Página</a></li>
                    <li class="breadcrumb-item active">Lista de Compras</li>
                </ol>
            </div>
            <h4 class="page-title">Lista de Compras</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 pb-2 bg-dark text-white text-center rounded">
                        <h4 class="header-title col-md-12 mt-2 mb-2">Listado de Compras</h4>
                    </div>
                    <div class="col-lg-12 pt-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group text-right">
                                    <div class="btn btn-group" id="addnew">
                                        <a asp-area="" asp-page="/Shoppings/Shoppings"
                                            class="btn btn-info btn-rounded float-right"><i class="h4 mdi mdi-plus"></i>
                                            Nueva
                                            compra</a>
                                    </div>
                                </div>
                            </div>
                            @*filter*@
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-md-2 pt-1"><strong>Ver</strong></div>
                                    <div class="col-md-4">
                                        <select id="showQuantity" class="form-control">
                                            <option value="6" selected>6</option>
                                            <option value="12">12</option>
                                            <option value="18">18</option>
                                            <option value="24">24</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 pt-1"><strong>registros</strong></div>
                                </div>
                            </div>
                            <div class="col-lg-5"></div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-md-2 pt-1"><strong>Búscar:</strong></div>
                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <span class="uil-search"></span>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control" id="searchData">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*end filter*@
                        </div>
                    </div>
                    <div class="py-4 col-lg-12">
                        <div class="row" id="shoppings-list">
                            <!-- home shoppings list -->
                            <div class="col-lg-12">
                                <div class="accordion custom-accordion pointer" id="custom-accordion-one">

                                </div>
                            </div> <!-- end col-->
                            <!-- end shoppings list-->
                        </div><!-- end row-->
                    </div><!-- end col-->
                </div><!-- end row-->
            </div><!-- end car-body-->
            <div class="card-footer">
                <div class="row" id="create-pagination">

                </div><!-- end row-->
            </div><!-- end car-footer-->
        </div><!-- end card-->
    </div><!-- end col-->
</div><!-- end row-->

@section Scripts{
<script src="~/assets/js/pages/demo.toastr.js"></script>
<script src="~/js/shopping/shoppingslist.js"></script>
}