@page
@model RosaMaríaBookstore.Pages.Categories.CategoriesModel;
@using RosaMaríaBookstore.Models;
@{ ViewData["Title"] = "Librería | Categorías"; }

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Librería</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Página</a></li>
                    <li class="breadcrumb-item active">Categorías</li>
                </ol>
            </div>
            <h4 class="page-title">Categorías</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 pb-2">
                        <button type="button" class="btn btn-success font-weight-bold btn-rounded" id="btn-modalcategory"><i class="mdi mdi-plus"></i> Nueva categoría</button>
                    </div>
                    <h4 class="header-title col-md-12 mt-2 mb-3">Listado de Categorías</h4>
                    @*filter*@
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-md-2 pt-1"><strong>Ver</strong></div>
                            <div class="col-md-4">
                                <select id="showQuantity" class="form-control">
                                    <option value="8" selected>8</option>
                                    <option value="16">16</option>
                                    <option value="24">24</option>
                                    <option value="32">32</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <div class="col-md-6 pt-1"><strong>registros</strong></div>
                        </div>
                    </div>
                    <div class="col-lg-5"></div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-md-2 pt-1"><strong>Búscar:</strong></div>
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span class="uil-search"></span>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="searchData">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*end filter*@
                    <div class="py-2 col-lg-12">
                        <div class="row" id="categories-list">
                            <!-- home categories list -->
                            
                            <!-- end categories list-->
                        </div><!-- end row-->
                    </div><!-- end col-->
                </div><!-- end row-->
            </div><!-- end car-body-->
            <div class="card-footer">
                <div class="row" id="create-pagination">

                </div><!-- end row-->
            </div><!-- end car-footer-->
        </div><!-- end card-->
    </div><!-- end col-->
</div><!-- end row-->

<!--  Modal content for the Large example -->
<div class="modal fade" id="modal-category" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-dark">
                <h4 class="modal-title" id="tittle-modal">Nueva categoría</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form id="formCategory" name="formCategory" method="POST" autocomplete="off">
                <div class="modal-body" id="modalBody">
                    
                </div>
                <div class="modal-footer" id="modalcategory-footer">
                    <button type="button" class="btn btn-light font-weight-bold btn-rounded" data-dismiss="modal"><i
                            class="mdi mdi-close"></i> Cancelar</button>
                    <button type="submit" class="btn btn-dark font-weight-bold btn-rounded" id="btn-action"><i
                            class="mdi mdi-content-save"></i> Guardar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Alert Modal -->
<div id="modalDeleteCategory" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-trash h1 text-danger"></i>
                    <h4 class="mt-2">Eliminar categoría</h4>
                    <p class="mt-3">El registro se eliminará de manera permanente. ¿Estás seguro?</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger my-2" id="mbtn-delete" data-dismiss="modal">Sí,
                        eliminar</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
<script src="~/assets/js/pages/demo.toastr.js"></script>
<script src="~/js/category/category.js"></script>
}