@page
@model RosaMaríaBookstore.Pages.Reports.ProductsReportModel;
@using RosaMaríaBookstore.Models;
@{
    Layout=null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reporte de productos</title>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png">

    <!-- third party css -->
    @*<link href="~/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />*@
    <!-- third party css end -->

    <!-- App css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="~/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<!--
    oncontextmenu="return false;"
    -->

<body class="loading"
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

            <!-- LOGO -->
            <a asp-area="" asp-page="/Index" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="~/images/proyect/1.png" class="img-logo" alt="" height="30">
                </span>
                <span class="logo-sm">
                    <img src="~/images/proyect/1.png" class="img-logo" alt="" height="30">
                </span>
            </a>

            <!-- LOGO -->
            <a asp-area="" asp-page="/Index" class="logo text-center logo-dark">
                <span class="logo-lg">
                    <img src="~/images/proyect/1.png" class="img-logo" alt="" height="30">
                </span>
                <span class="logo-sm">
                    <img src="~/images/proyect/1.png" class="img-logo" alt="" height="30">
                </span>
            </a>

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">
                    <main role="main">
                       dsdfdsf
                    </main>
                </div>
                <!-- container -->

            </div> <!-- content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            2020 © UES - LIBRERÍA ROSA MARÍA
                        </div>
                        @*<div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-md-block">
                            <a href="javascript: void(0);">Acerca de</a>
                            </div>
                            </div>*@
                    </div>
                </div>
            </footer>
            <!-- end Footer -->
        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->


    <!-- default -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- bundle -->
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>

    <script src="~/js/query/query.js"></script>
    <script src="~/js/staff/psidebar.js"></script>
</body>

</html>