@page
@model RosaMaríaBookstore.Pages.Products.ProductsModel;
@using RosaMaríaBookstore.Models;
@{ ViewData["Title"] = "Librería | Productos"; }

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Librería</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Página</a></li>
                    <li class="breadcrumb-item active">Productos</li>
                </ol>
            </div>
            <h4 class="page-title">Productos</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 pb-2">
                        <button type="button" class="btn btn-success font-weight-bold btn-rounded" id="btn-modalproduct"><i class="mdi mdi-plus"></i> Nuevo producto</button>
                    </div>
                    <h4 class="header-title col-md-12 mt-2 mb-3">Listado de Productos</h4>
                    @*filter*@
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-md-2 pt-1"><strong>Ver</strong></div>
                            <div class="col-md-4">
                                <select id="showQuantity" class="form-control">
                                    <option value="6" selected>6</option>
                                    <option value="12">12</option>
                                    <option value="18">18</option>
                                    <option value="24">24</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <div class="col-md-6 pt-1"><strong>registros</strong></div>
                        </div>
                    </div>
                    <div class="col-lg-5"></div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-md-2 pt-1"><strong>Búscar:</strong></div>
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span class="uil-search"></span>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="searchData">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*end filter*@
                    <div data-simplebar class="py-2 col-lg-12 scroll-shopping pt-2">
                        <div class="row" id="products-list">
                            <!-- home products list -->
                            
                            <!-- end products list-->
                        </div><!-- end row-->
                    </div><!-- end col-->
                </div><!-- end row-->
            </div><!-- end car-body-->
            <div class="card-footer">
                <div class="row" id="create-pagination">
                    @*<h5 class="card-title col-sm-4 pt-2">Viendo 1 registro de 10, de un total de 100</h5>
                    <nav class="col-sm-8">
                         <ul class="pagination pagination-rounded mb-0 justify-content-end" id="create-pagination">
                           <li class="page-item">
                                <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Siguiente</span>
                                </a>
                            </li>
                        </ul><!-- end ul-->
                    </nav><!-- end nav-->*@
                </div><!-- end row-->
            </div><!-- end car-footer-->
        </div><!-- end card-->
    </div><!-- end col-->
</div><!-- end row-->

<!--  Modal content for product -->
<div class="modal fade" id="modal-product" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-dark">
                <h4 class="modal-title" id="tittle-modal">Nuevo producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form id="formProduct" name="formProduct" method="POST" autocomplete="off">
                <div class="modal-body" id="modalBody">
                    
                </div>
                <div class="modal-footer" id="modalproduct-footer">
                    <button type="button" class="btn btn-light font-weight-bold btn-rounded" data-dismiss="modal"><i
                            class="mdi mdi-close"></i> Cancelar</button>
                    <button type="submit" class="btn btn-dark font-weight-bold btn-rounded" id="btn-action"><i
                            class="mdi mdi-content-save"></i> Guardar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--  Modal content for prices -->
<div class="modal fade" id="modal-prices" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-dark">
                <h4 class="modal-title" id="dark-header-modalLabel">Precios del producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="px-3 py-3">
                <form id="formPrice" name="formPrice" method="POST" autocomplete="off" class="border border-secondary-100 rounded px-2 py-2">
                    <div class="modal-body" id="price-body"> 
                        
                    </div><!-- end modal-body -->
                    <div class="modal-footer new-footer">
                        <button type="button" class="btn btn-light font-weight-bold btn-rounded" id="btn-cleanprice"><i
                                class="mdi mdi-close"></i> Cancelar</button>
                        <button type="submit" class="btn btn-dark font-weight-bold btn-rounded"><i
                                class="mdi mdi-content-save"></i> Guardar</button>
                    </div><!-- end modal-footer -->
                </form>
                <!-- table-->
                <div class="border border-secondary-100 rounded px-2 mt-3">
                    <div class="modal-body">
                        <label for="" class="font-weight-bold">Precios de los productos</label>
                        <div class="row">
                            @*filter*@
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-md-3 pt-1"><strong>Ver</strong></div>
                                    <div class="col-md-6">
                                        <select id="show-price-quantity" class="form-control">
                                            <option value="3" selected>3</option>
                                            <option value="6">6</option>
                                            <option value="12">12</option>
                                            <option value="18">18</option>
                                            <option value="24">24</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 pt-1"><strong>registros</strong></div>
                                </div>
                            </div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <div class="col-md-3 pt-1"><strong>Fecha:</strong></div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <span class="uil-search"></span>
                                                    </div>
                                                </div>
                                                <input type="date" class="form-control" id="price-searchdate">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*end filter*@
                            <div class="col-lg-12 table-responsive-sm">
                                <table class="table table-centered mb-0">
                                    <thead class="font-weight-bold alert-success">
                                        <tr>
                                            <td>Fecha</td>
                                            <td>Precio de compra</td>
                                            <td>Precio de venta</td>
                                            <td>Margen de ganancia (%)</td>
                                            <td>Activo</td>
                                            <td>Acciones</td>
                                        </tr>
                                    </thead>
                                    <tbody class="font-weight-bold" id="prices-list">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" id="price-pagination">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Alert Modal -->
<div id="modalDeleteProduct" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-trash h1 text-danger"></i>
                    <h4 class="mt-2" id="mtitle">Eliminar producto</h4>
                    <p class="mt-3" id="mtitle-delete">El registro se eliminará de manera permanente. ¿Estás seguro?</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger my-2" id="mbtn-delete" data-dismiss="modal">Sí,
                        eliminar</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
<script src="~/assets/js/pages/demo.toastr.js"></script>
<script src="~/js/product/product.js"></script>
}