@page
@model AboutModel
@{
    ViewData["Title"] = "Acerca de";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Librería</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Página</a></li>
                    <li class="breadcrumb-item active">Sobre nosotros</li>
                </ol>
            </div>
            <h4 class="page-title">Sobre nosotros</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card bg-danger">
                <div class="card-body profile-user-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="media">
                                <span class="float-left m-2 mr-4"><img src="/images/proyect/ues.jpg"
                                        style="height: 150px;" alt="ues" class="rounded-circle img-thumbnail"></span>
                                <div class="media-body">

                                    <h2 class="mt-1 mb-1 text-white">Universidad de El Salvador</h2>
                                    <p class="font-13 text-white-50"> Facultad Multidisciplinaria Paracentral</p>
                                </div> <!-- end media-body-->
                            </div>
                        </div> <!-- end col-->
                    </div> <!-- end row -->

                </div> <!-- end card-body/ profile-user-box-->
            </div>
            <div class="card-body">
                <p class="text-muted text-justify pt3">
                    Librería “Rosa María”. cuenta con una extensa variedad de artículos para el estudiante y la oficina,
                    atendido por personal capacitado en el área; cuenta con: libros de texto, artículos de arte,
                    bolígrafos, papelería, escolares y oficina.
                    <br>
                    Aseguramos los mejores productos al mejor precio. Buscamos el valor a cambio de su preferencia a
                    través de precios convenientes.
                    Trabajamos en un alto estándar en el cumplimiento en las fechas de entrega de sus productos a lo
                    largo de todo el departamento.
                    <br>
                    Creemos firmemente en el valor formativo que tiene la educación y su papel decisivo en el desarrollo
                    y enriquecimiento personal. Por ello procuramos que en nuestra librería haya siempre una cuidada
                    selección de artículos que puedan ayudar en la formación de cada estudiante. Ese es nuestro valor
                    diferencial.
                    <br>
                    Nuestro Compromiso:
                </p>
                <br>
                <ul>
                    <li>
                        Buena Asistencia Pre y post venta.
                    </li>
                    <li>
                        Variedad.
                    </li>
                    <li>
                        Comodidad.
                    </li>
                    <li>
                        Todo en un solo lugar.
                    </li>
                </ul>
            </div>
        </div><!-- end card-->
    </div><!-- end col-->
</div><!-- end row-->